.projects {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: calc(var(--vh, vh) * 85 - 90px);
    padding-bottom: 1rem;
}

@media screen and (min-width: 550px) {
    .projects {
        height: calc(100% - 90px);
    }
}
