.title,
.subtitle {
    font-family: "Rowdies", cursive;
    font-weight: 400;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.4rem;
}

.info p {
    text-align: justify;
}
image {
    width: 90vw;
}

.image img {
    position: relative;
    z-index: 2;
    width: 90%;
    box-shadow: 15px 15px 5px var(--color-accent-dark);
}

@media screen and (min-width: 550px) {
    .info {
        width: 60%;
    }

    .image {
        max-height: 395px;
    }

    .image img {
        height: 100%;
    }
}
