.mediaLinks {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    column-gap: 3rem;
}

.contact-link {
    font-size: 2rem;
    color: var(--color-font);
}

.contact-link:hover,
.contact-link:active {
    color: var(--color-info);
    transition: color 300ms;
}

.info .phone-line {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
}

.phone {
    margin-left: 1.4rem;
    font-size: 1.4rem;
}
