@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

.App {
    /* background-color: var(--color-bg); */
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        45deg,
        var(--color-accent-dark) 50%,
        var(--color-highlight) 51%,
        var(--color-accent-light) 52%
    );
}

.app-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-bg);
    width: 100vw;
    height: 90vh;
}

.container {
    height: 88vh;
    padding: 1rem;
}

.container-center {
    display: flex;
    padding: 0 1rem;
    flex-direction: column-reverse;
}

.page-transition-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.page-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms;
}

.page-transition-exit {
    opacity: 1;
}

.page-transition-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: all 400ms;
}

@media screen and (max-width: 549px) {
    .app-wrapper {
        overflow-y: auto;
        margin-bottom: 3rem;
    }

    .container-center {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 550px) {
    .app-wrapper {
        background-color: var(--color-bg);
        width: 88vw;
        height: 88vh;

        justify-content: center;
    }

    .container-center {
        flex-direction: row;
        height: 395px;
        margin-left: 5em;
        justify-content: space-around;
    }
}
