.icon-container {
    padding: 10px;
    min-width: 40px;
    font-size: large;
    background-color: var(--color-bg-shade);
    border-radius: 20px;
    transition: 0.1s ease-in;
}

.icon-container:hover,
.icon-container:active {
    background-color: var(--color-highlight);
}

.icon-container span {
    transition: all 0.2s ease-in;
    display: none;
    width: 0;
}

@media screen and (min-width: 550px) {
    .icon-container:hover span {
        display: inline;
        margin-left: 20px;
        width: fit-content;
    }
}
